<section class="main" id="main">
  <div class="pagetitle">
    <h1>Category Offer</h1>
  </div>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col">Discount</th>
            <th scope="col">Edit discount %</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {{#each category}}
            <tr>
              <th scope="row">{{inc @index}}</th>
              <td>{{this.categoryname}}</td>
              <td id="{{this._id}}">{{this.categorydiscount}}</td>
              <td><input
                  type="number"
                  style="width: 7rem;"
                  id="{{this.categoryname}}"
                /></td>
              <td>
                <button
                  onclick="discountChange('{{this.categoryname}}','{{this._id}}')" type="submit" class="btn btn-success">Save</button>
              </td>
              </tr>
            {{/each}}
        </tbody>
      </table>

  <br />
  
</section>











<script>

  function discountChange(categoryname,id){
    console.log(categoryname,id)
    var discountvalue = document.getElementById(categoryname).value
    console.log(discountvalue)
    $.ajax({
      url : "/admin/categoryoffer",
      data : {
        discountvalue , categoryname
      },
      type : "post",
      success : (response)=>{
         document.getElementById(id).innerHTML = response.discountvalue,
         location.reload()
      }
    })
  }
 
</script>