<div style="margin-top: 2rem;">
<div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 " >
  <div class="card" id="container_content">
    <div class="card-header p-4">
      <a
        class="pt-2 d-inline-block"
        href="index.html"
        data-abc="true"
      >Gameo</a>
      <div class="float-right">
        <h3 class="mb-0">Invoice : {{data._id}}</h3>
        Date: {{data.date}}</div>
    </div>
    <div class="card-body">
      <div class="row mb-4">
        <div class="col-sm-6">
          {{!-- <h5 class="mb-3">From:</h5>
          <h3 class="text-dark mb-1">Tejinder Singh</h3>
          <div>29, Singla Street</div> --}}
          
        <div class="col-sm-6">
          <h5 class="mb-3">To:</h5>
         <p>{{data.deliveryDetails.address}}</p>
        </div>
      </div>
      <div class="table-responsive-sm">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="center">#</th>
              <th>Item</th>
              <th>ActualPrice</th>
              <th class="right">Offer Price</th>
              <th class="center">Qty</th>
              <th class="right">Total</th>
            </tr>
          </thead>
          <tbody>
            {{#each data.product}}
            <tr>
              <td class="center">{{inc @index}}</td>
              <td class="left strong">{{this.productName}}</td>
              <td class="left">{{this.ActualPrice}}</td>
              <td class="right">{{this.OfferPrice}}</td>
              <td class="center">{{this.quantity}}</td>
              <td class="right">{{this.total}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-5">
        </div>
        <div class="col-lg-4 col-sm-5 ml-auto">
          <table class="table table-clear">
            <tbody>
              <tr>
                <td class="left">
                  <strong class="text-dark">Subtotal</strong>
                </td>
                <td class="right">${{data.totalPrice}}</td>
              </tr>
              <tr>
                <td class="left">
                  <strong class="text-dark">Discount </strong>
                </td>
                <td class="right">${{#if data.couponApply}}
                    {{data.couponDiscount}}
                                    {{/if}}
                    </td>
              </tr>
              <tr>
                <td class="left">
                  <strong class="text-dark">Delivery</strong>
                </td>
                <td class="right">Free</td>
              </tr>
              <tr>
                <td class="left">
                  <strong class="text-dark">Total</strong>
                </td>
                <td class="right">
                  <strong class="text-dark">
                    ${{#if data.couponApply}}
                    {{data.totalWithCouponDiscount}}
                    {{else}}
                    {{data.totalPrice}}
                    {{/if}}
                    </strong>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card-footer bg-white">
      <p class="mb-0"></p>
    </div>
  </div>
</div>
</div>

                        <button type="button" class="btn btn-sm rounded-pill btn_print me-3" id="rep" value="Download as Pdf" >Download Invoice <i class="bi bi-arrow-bar-down"></i></button>

<style>
    body{

 
}

.padding{

  padding: 2rem !important;
}

.card {
    margin-bottom: 30px;
    border: none;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
}

.card-header {
    background-color: #fff;
    border-bottom: 1px solid #e6e6f2;
}

h3 {
    font-size: 20px;
}

h5 {
    font-size: 15px;
    line-height: 26px;
    color: #3d405c;
    margin: 0px 0px 15px 0px;
    font-family: 'Circular Std Medium';
}

.text-dark {
    color: #3d405c !important;
}
</style>
<script>
    
    $(document).ready(function ($) {
    $(document).on('click','.btn_print',function(event) {
        event.preventDefault();
        var element=document.getElementById('container_content');
        let randomNumber=Math.floor(Math.random()*(10000000000 - 1))+1;
        var opt={
            margin:0,
            filename:'invoice'+randomNumber+'.pdf',
            html2canvas:{ scale: 8 },
            jsPDF:{unit:'in',format:'letter',orientation:'portrait'}
        };
        html2pdf().set(opt).from(element).save();
    });
});
</script>